.header-text {
  text-align: center;
}

.center-text {
    align-items: center;
    justify-content: center;
}

.skills-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.highlights-container {
    display: grid;
    grid-template-rows: repeat(14, auto);
    grid-template-columns: repeat(6, auto);
    gap: 16px;
    justify-content: center;
    padding-left: 64px;
    padding-right: 64px;
}

.spacing-home {
    height: 50dvh;
}

@media (max-width: 1151px) {
    .spacing-home {
        height: 25dvh;
    }
}

.spacing-home-half {
    height: 25dvh;
}

@media (max-width: 1151px) {
    .spacing-home-half {
        height: 12.5dvh;
    }
}


@media (max-width: 816px) {
    .highlights-container {
        gap: 8px;
        
        padding-left: 32px;
        padding-right: 32px;
    }
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75%;
}

.project-text {
    font-size: 32px;
    color: white;
    text-align: center;
    padding-bottom: 32px;
    
    padding-left: 10dvw;
    padding-right: 10dvw;
}

.project-platform-container {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.project-platform {
    border-radius: 6px;
}


@media (max-width: 816px) {
    .project-platform  {
        scale: 90%;
    }

    .project-platform-container {
        scale: 90%;
        gap: 16px;
    }

    .project-platform-container {
        scale: 90%;
        gap: 16px;
    }
}


.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-header {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
}

.highlight-1 {
    grid-row: 1 / 3;
    grid-column: 1 / 6;
}

.highlight-2 {
    grid-row: 1 / 3;
    grid-column: 6 / 7;
}


.highlight-3 {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
}

.highlight-4 {
    grid-row: 3 / 5;
    grid-column: 2 / 7;
}


.highlight-5 {
    grid-row: 5 / 7;
    grid-column: 1 / 6;
}

.highlight-6 {
    grid-row: 5 / 7;
    grid-column: 6 / 7;
}


.highlight-7 {
    grid-row: 7 / 9;
    grid-column: 1 / 2;
}

.highlight-8 {
    grid-row: 7 / 9;
    grid-column: 2 / 7;
}


.highlight-9 {
    grid-row: 9 / 11;
    grid-column: 1 / 6;
}

.highlight-10 {
    grid-row: 9 / 11;
    grid-column: 6 / 7;
}


.highlight-11 {
    grid-row: 11 / 13;
    grid-column: 1 / 2;
}

.highlight-12 {
    grid-row: 11 / 13;
    grid-column: 2 / 7;
}


.highlight-13 {
    grid-row: 13 / 15;
    grid-column: 1 / 6;
}

.highlight-14 {
    grid-row: 13 / 15;
    grid-column: 6 / 7;
}


.highlight-15 {
    grid-row: 15 / 17;
    grid-column: 1 / 2;
}

.highlight-16 {
    grid-row: 15 / 17;
    grid-column: 2 / 7;
}

.social-media-container {
    display: flex;
    background-color: var(--item-color);
    border-top: 1px solid var(--border-color);
    box-shadow: 0 0 10px var(--border-color);
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: center;
}