.blog-thumbnail {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--item-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px var(--border-color);
    border-radius: 4px;
    height: 512px;
}

.blog-thumbnail:hover {
    cursor: pointer;
    border: 1px solid var(--border-color-focused);
    box-shadow: 0 0 10px var(--border-color-focused);
}

.blog-thumbnail-title {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    text-align: center;

    padding-left: 16%;
    padding-right: 16%;
}

.blog-thumbnail-date {
    font-size: 18px;
    position: absolute;
    color: white;
    top: 32px;
    right: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (max-width: 1600px) {
    .blog-thumbnail-title {
        font-size: 24px;
    }

    .blog-thumbnail-date {
        font-size: 18px;
    }
}

@media (max-width: 816px) {
    .blog-thumbnail {
        scale: 90%;
    }


    .blog-thumbnail-title {
        font-size: 24px;
    }
    
    .blog-thumbnail-date {
        font-size: 18px;
    }
}
