.profile {
    display: flex;
    height: 95dvh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.profile-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 256px;
    height: 256px;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.profile-img-container::after, .profile-img-container::before {
    border-radius: 8px;
    background-image: conic-gradient(from var(--angle), transparent 25%,#3a86ff, #b5179e, #ff006e, #8338ec, #3a86ff);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    padding: 3px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    animation: 3s spin linear infinite;
}

.profile-img-container::before {
    filter: blur(2.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.profile-description {
    margin-top: 64px;
    margin-bottom: 0px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    max-width: 35ch;

    padding-left: 10dvw;
    padding-right: 10dvw;
}

.quote {
    margin-top: 64px;
    margin-bottom: 0px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;

    padding-left: 10dvw;
    padding-right: 10dvw;
}