:root {
    --item-color: #1d232b;
    --background-color:  #1e2531;
    --item-hover-color: #222a35;
    --border-color: #30363d;
    --border-color-focused: #3a414a;
	background: var(--background-color);
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

html,body, #root {
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    color: white;
}


a {
	all: unset;
}